{
  "presets": ["es2015", "stage-2"],
  "plugins": ["transform-runtime",["component", [
      {
        "libraryName": "sunshine-intimate-package"
      },
         { "libraryName": "mint-ui", "style": true }
       ]]],
  "comments": false
}
